<!DOCTYPE html>
<html lang="fr">

<div class="main-container" style="background-image: url('./assets/background.jpg');">

  <div class="header">
    <div class="nav-bar">
      <div class="nav-item">Accueil</div>
      <div class="nav-item" routerLink="/presentation">Présentation</div>
      <div class="nav-item">Connexion</div>
    </div>
  </div>

  <div class="content">
    <img src="./assets/LogoEDV.png" class="logo-image" alt="Logo EDV">
    <div class="title">Etoile de Vinci</div>
    <div class="description">
      L'Étoile de Vinci est l'association de football du Pôle Léonard de Vinci, située à La Défense.<br/>
      Elle rassemble les étudiants étudiants, joueurs de footballeurs et fans de football autour d'une passion commune !<br/>
      Des entraînements du jeudi aux compétitions internationales, en passant par les bars et les week-ends de convivialité, les membres de la star sont plus que motivés pour vivre une nouvelle année de folie !
    </div>
    <div class="cta-container">
      <div class="cta-background"></div>
      <div class="cta-text">Plus d’informations</div>
    </div>

  </div>
</div>

<router-outlet></router-outlet>

