<div class="home">
  <div class="informations">
    <h1 class="asso-name">Etoile de Vinci</h1>
    <p class="description">L'Étoile de Vinci est l'association de football du Pôle Léonard de Vinci, située à La Défense.<br/>
      Elle rassemble les étudiants étudiants, joueurs et fans de football autour d'une passion commune !<br/>
      Des entraînements du jeudi aux compétitions internationales, en passant par les bars et les week-ends de convivialité, les membres de la star sont plus que motivés pour vivre une nouvelle année de folie !</p>
  </div>
  <img src="assets/LogoEDV.png">
</div>
