<div class="register-form" [formGroup]="registerForm">
  <h1>Register</h1>
  <div class="input-register">
    <label for="first-name" class="label-input">Prénom</label>
    <input id="first-name" class="input-field" type="text" formControlName="firstName">
  </div>
  <div class="input-register">
    <label for="last-name" class="label-input">Nom</label>
    <input id="last-name" class="input-field" type="text" formControlName="lastName">
  </div>
  <div class="input-register">
    <label for="email" class="label-input">Email</label>
    <input id="email" class="input-field" type="text" formControlName="email">
  </div>
  <div class="input-register">
    <label for="password" class="label-input">Password</label>
    <input id="password" class="input-field" type="password" formControlName="password">
  </div>
</div>
