<div class="header">
  <div class="nav-bar">
    <div class="accessible-menus">
      <div class="nav-accessible-item" routerLink="/">Accueil</div>
      <div class="nav-accessible-item" routerLink="/presentation">Présentation</div>
      <div class="nav-accessible-item" routerLink="/tournaments">Tournois</div>
      <div class="nav-accessible-item" routerLink="/trainings">Entraînements</div>
      <div class="nav-accessible-item" routerLink="/other-events">Autres</div>
      <div class="nav-accessible-item" routerLink="/create-event">Créer</div>
    </div>
    <div>
      <div class="nav-item" routerLink="/connection">Connexion</div>
    </div>
  </div>
</div>
