body {
  padding: 0 50px 0 50px;
  margin: 0;
  background-color: #9D8A53;
  /*background-image: url('/assets/background.jpg');*/
  background-size: cover;
}

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
